<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Kazim_Maven_Project_Suite.Maven_Java.RESTAPITest"/>
      <class name="Kazim_Maven_Project_Suite.Maven_Java.SeleniumTest"/>
      <class name="Kazim_Maven_Project_Suite.Maven_Java.AppiumTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
